---

samples: samples.tsv

units: units.tsv

annovar:
  build_version: hg19
  database:  /data/ref_data/hg19/annovar/annovar_2015.03.22/annovar_humandb
  protocols:
    refGene:
      argument: "'-splicing_threshold 5'"
      operation: g
    1000g2015aug_eur:
      argument: ""
      operation: f
    snp138:
      argument: ""
      operation: f
    snp138NonFlagged:
      argument: ""
      operation: f
    esp6500siv2_ea:
      argument: ""
      operation: f
    cosmic70:
      argument: ""
      operation: f
    clinvar_20150629:
      argument: ""
      operation: f
